---
import { Image } from "astro:assets";
import Image1 from "../../public/1.jpg";
import Image2 from "../../public/2.jpg";
import Image3 from "../../public/3.jpg";
import Image4 from "../../public/4.jpg";
import Image5 from "../../public/5.jpg";
---

<div id="about" class="w-full mx-auto pt-20 about overflow-hidden">
  <div
    class="flex flex-col lg:flex-row justify-center items-center w-full gap-8 px-4 md:px-8 lg:px-12"
  >
    <div class="w-full max-w-full flex flex-col gap-4 about-images">
      <div class="flex justify-center items-end gap-4 max-w-full w-full">
        <Image
          src={Image2}
          id="about-image-1"
          class="about-image-1 rounded-xl border border-green-600 max-w-full h-52 w-52 object-cover object-center"
          alt=""
        />
        <Image
          src={Image1}
          id="about-image-2"
          class="about-image-2 rounded-xl border border-green-600 max-w-full h-80 w-60 object-cover object-bottom"
          alt=""
        />
      </div>
      <div class="flex justify-center items-start gap-4">
        <Image
          src={Image3}
          id="about-image-3"
          class="about-image-3 rounded-xl border border-green-600 max-w-full h-44 w-44 object-cover object-center"
          alt=""
        />
        <Image
          src={Image4}
          id="about-image-4"
          class="about-image-4 rounded-xl border border-green-600 max-w-full h-80 w-60 object-cover object-center"
          alt=""
        />
        <Image
          src={Image5}
          id="about-image-5"
          class="about-image-5 rounded-xl border border-green-600 max-w-full h-40 w-40 object-cover object-center"
          alt=""
        />
      </div>
    </div>

    <div class="w-full flex flex-col gap-8 text-about">
      <div
        class="flex flex-col text-2xl md:text-4xl lg:text-6xl font-black text-white text-left"
      >
        <span class="md:whitespace-nowrap">Conheça mais sobre</span>
        <span class="text-green-600 md:whitespace-nowrap">o DevParaná</span>
      </div>

      <span class="text-white/80 text-base font-thin leading-7">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi minus
        sit, earum assumenda iste obcaecati blanditiis. Consequatur laudantium
        cumque consectetur at quis? Nostrum magni obcaecati eius ipsum adipisci,
        excepturi aperiam.
      </span>

      <div class="flex gap-4 justify-between items-start">
        <span class="flex flex-col justify-center items-center text-center">
          <div class="font-bold text-2xl text-green-600">400+</div>
          <div class="font-bold text-base text-white">Usuários</div>
        </span>

        <span class="flex flex-col justify-center items-center text-center">
          <div class="font-bold text-2xl text-green-600">600%</div>
          <div class="font-bold text-base text-white">Investment</div>
        </span>

        <span class="flex flex-col justify-center items-center text-center">
          <div class="font-bold text-2xl text-green-600">100k</div>
          <div class="font-bold text-base text-white">Downloads</div>
        </span>

        <span class="flex flex-col justify-center items-center text-center">
          <div class="font-bold text-2xl text-green-600">2000+</div>
          <div class="font-bold text-base text-white">Reviews</div>
        </span>
      </div>
    </div>
  </div>
</div>

<style>
  .about-image-1 {
    z-index: 50 !important;
  }
  .about-image-2 {
    z-index: 3 !important;
  }
  .about-image-3 {
    z-index: 10 !important;
  }
  .about-image-4 {
    z-index: 2 !important;
  }
  .about-image-5 {
    z-index: 1 !important;
  }
</style>
