---
import { Image } from "astro:assets";
import heroImage from "../../public/hero.jpg";
import logoImage from "../../public/logo.svg";
import instagramImage from "../../public/instagram.svg";
import twitterImage from "../../public/twitter.svg";
import arrowDownImage from "../../public/arrow-down.svg";
---

<div class="hero w-full overflow-hidden">
  <div
    class="w-full mx-auto px-4 md:px-8 lg:px-12 min-h-auto lg:min-h-screen h-full flex flex-col justify-between items-stretch gap-10 py-10"
  >
    <div
      class="animate-top z-50 w-full mx-auto flex gap-4 lg:gap-8 justify-center lg:justify-between items-center"
    >
      <div
        class="flex justify-center lg:justify-start items-center gap-1 lg:gap-2"
      >
        <Image src={logoImage} class="max-w-80 lg:max-w-96 w-full" alt="Logo" />
      </div>

      <div class="justify-end items-center gap-6 hidden lg:flex">
        <div class="flex gap-6 justify-center items-center">
          <a
            href="#"
            class="text-white/80 hover:text-green-600 text-base lg:text-lg whitespace-nowrap"
            >Página inicial</a
          >
          <a
            href="#"
            class="text-white/80 hover:text-green-600 text-base lg:text-lg whitespace-nowrap"
            >Sobre</a
          >
          <a
            href="#"
            class="text-white/80 hover:text-green-600 text-base lg:text-lg whitespace-nowrap"
            >Palestrantes</a
          >
          <a
            href="#"
            class="text-white/80 hover:text-green-600 text-base lg:text-lg whitespace-nowrap"
            >Cronograma</a
          >
          <a
            href="#"
            class="text-white/80 hover:text-green-600 text-base lg:text-lg whitespace-nowrap"
          >
            <Image src={instagramImage} width={24} alt="Instagram" />
          </a>
          <a
            href="#"
            class="text-white/80 hover:text-green-600 text-base lg:text-lg whitespace-nowrap"
          >
            <Image src={twitterImage} width={24} alt="Twitter" />
          </a>
        </div>
      </div>
    </div>

    <div
      class="w-full flex flex-col lg:flex-row items-center justify-center lg:justify-end gap-8 lg:gap-0 relative"
    >
      <div class="text-hero z-50 flex flex-col gap-8 w-full relative lg:absolute right-0">
        <div class="flex justify-center lg:justify-start gap-3">
          <span
            class="border bg-green-950/60 border-green-600 rounded-full text-xs md:text-sm font-medium text-green-600 px-2 py-1"
          >
            <div>07 de Junho | 16:20</div>
          </span>
          <span
            class="border bg-green-950/60 border-green-600 rounded-full text-xs md:text-sm font-medium text-green-600 px-2 py-1"
          >
            <div>Maringá | Pr</div>
          </span>
        </div>

        <div
          class="flex flex-col text-2xl md:text-4xl lg:text-6xl xl:text-7xl font-black text-white text-center lg:text-left"
        >
          <span class="md:whitespace-nowrap">A DevParaná Conf é organizada</span
          >
          <span class="text-green-600 md:whitespace-nowrap"
            >por pessoas da comunidade</span
          >
          <span class="md:whitespace-nowrap">para comunidade.</span>
        </div>

        <span class="flex justify-center lg:justify-start">
          <a
            href="#"
            class="cursor-pointer rounded-full font-semibold leading-6 whitespace-nowrap block text-center bg-green-700 hover:bg-green-600 text-neutral-950 text-base lg:text-lg px-8 py-4"
          >
            Conhecer palestrantes
          </a>
        </span>
      </div>

      <span
        id="hero-image"
        class="animate-top hero-img border border-green-900/50 rounded-xl bg-neutral-950 w-full max-w-2xl aspect-square overflow-hidden"
      >
        <Image
          src={heroImage}
          class="-z-10 rounded-xl object-cover aspect-square mask"
          alt=""
        />
      </span>
    </div>

    <div class="w-full flex justify-center items-center btn-scroll-down">
      <a
        href="#"
        class="animate-top w-10 h-10 bg-green-700 hover:bg-green-600 rounded-full flex justify-center items-center text-center"
      >
        <Image src={arrowDownImage} width={20} alt="Arrow down" />
      </a>
    </div>
  </div>
</div>

<style></style>
