---
import { Image } from "astro:assets";
import Image1 from "../../public/1.jpg";
import Image2 from "../../public/2.jpg";
import Image3 from "../../public/3.jpg";
import Image4 from "../../public/4.jpg";
import Image5 from "../../public/5.jpg";
import Image6 from "../../public/6.jpg";
---

<section class="demo-gallery overflow-hidden">
  <ul class="wrapper flex gap-4">
    <li>
      <Image
        src={Image1}
        class="imgs max-w-80 rounded-xl border-2 border-green-600 image1"
        alt=""
      />
    </li>
    <li>
      <Image
        src={Image2}
        class="imgs max-w-80 rounded-xl border-2 border-green-600 image2"
        alt=""
      />
    </li>
    <li>
      <Image
        src={Image3}
        class="imgs max-w-80 rounded-xl border-2 border-green-600 image3"
        alt=""
      />
    </li>
    <li>
      <Image
        src={Image4}
        class="imgs max-w-80 rounded-xl border-2 border-green-600 image4"
        alt=""
      />
    </li>
    <li>
      <Image
        src={Image5}
        class="imgs max-w-80 rounded-xl border-2 border-green-600 image5"
        alt=""
      />
    </li>
    <li>
      <Image
        src={Image6}
        class="imgs max-w-80 rounded-xl border-2 border-green-600 image6"
        alt=""
      />
    </li>
  </ul>
</section>

<section class="demo-gallery overflow-hidden mt-4">
  <ul class="wrapper flex gap-4">
    <li>
      <Image
        src={Image1}
        class="imgs max-w-80 rounded-xl border-2 border-green-600 image1"
        alt=""
      />
    </li>
    <li>
      <Image
        src={Image2}
        class="imgs max-w-80 rounded-xl border-2 border-green-600 image2"
        alt=""
      />
    </li>
    <li>
      <Image
        src={Image3}
        class="imgs max-w-80 rounded-xl border-2 border-green-600 image3"
        alt=""
      />
    </li>
    <li>
      <Image
        src={Image4}
        class="imgs max-w-80 rounded-xl border-2 border-green-600 image4"
        alt=""
      />
    </li>
    <li>
      <Image
        src={Image5}
        class="imgs max-w-80 rounded-xl border-2 border-green-600 image5"
        alt=""
      />
    </li>
    <li>
      <Image
        src={Image6}
        class="imgs max-w-80 rounded-xl border-2 border-green-600 image6"
        alt=""
      />
    </li>
  </ul>
</section>
